<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.sms.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Update</servlet-name>
  	<display-name>Update</display-name>
  	<description></description>
  	<servlet-class>com.sms.Update</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Delete</servlet-name>
  	<display-name>Delete</display-name>
  	<description></description>
  	<servlet-class>com.sms.Delete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Search</servlet-name>
  	<display-name>Search</display-name>
  	<description></description>
  	<servlet-class>com.sms.Search</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateAdmin</servlet-name>
  	<display-name>CreateAdmin</display-name>
  	<description></description>
  	<servlet-class>com.sms.CreateAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Update</servlet-name>
  	<url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Delete</servlet-name>
  	<url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Search</servlet-name>
  	<url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateAdmin</servlet-name>
  	<url-pattern>/CreateAdmin</url-pattern>
  </servlet-mapping>
</web-app>
